@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
.header {
    background-color: #5db1ce;
    padding: 3px 0 3px 0;
    color: #fff;
    font-family: 'Fredericka the Great', cursive !important;
}