<div class="remain">
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Balance Amount</h4>
            <h4 class="alert-heading">2000/-</h4>
            <hr>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><button type="button" routerLink="/income-log" class="btn btn-success">Income Log</button> </div>
                <div class="p-2 bd-highlight"><button type="button" routerLink="/expense-log" class="btn btn-success">Expense Log</button></div>
            </div>

        </div>
    </div>
</div>